<% @title = "Dashboard" %>
<%= link_to 'View other responsible cafes', page_home_path, class: 'dashboard__other-cafes' %>
<br>
<% if user_signed_in? %>
<%    if current_user.email == @cafe.email %>
<%= link_to 'Edit my cafe details', edit_user_registration_path %>
<%    end %>
<% end %>

<h1 class="dashboard__title"><%= @cafe.business_name %></h1>
<div class="dashboard-intro">
  <div class="dashboard__cafe-about">
    <%= simple_format @cafe.about %>
  </div>
  <div class="dashboard__intro-address">
      <% unless @cafe.address_line_1.blank? %>
        <%= @cafe.address_line_1 %><br>
      <% end %>
      <% unless @cafe.address_line_2.blank? %>
        <%= @cafe.address_line_2 %><br>
      <% end %>
      <% unless @cafe.suburb.blank? %>
        <%= @cafe.suburb %><br>
      <% end %>
      <% unless @cafe.postcode.blank? %>
        <%= @cafe.postcode %><br>
      <% end %>
      <% unless @cafe.state.blank? %>
        <%= @cafe.state %><br>
      <% end %>
      <% unless @cafe.phone.blank? %>
        <p class="dashboard__phone">Phone: <%= @cafe.phone %></p>
      <% end %>
  </div>
</div>

<div class="dashboard__cafe-details">
  <div class="dashboard__cafe-information">

    <div class="dashboard__saved">
      <p class="dashboard__saved-description">Total:</p>
      <p class="dashboard__saved-amount"><%= @total_cups_saved %></p> 
      <p class="dashboard__saved-description">cups saved from landfill</p>
    </div>

    <div class="dashboard__discount">
      <p class="dashboard__discount-description">Save</p>
      <p class="dashboard__discount-amount"><%= @cafe.discount %></p> 
      <p class="dashboard__discount-description">when you bring your reusable cup</p>
    </div>
  </div>
  <div class="dashboard__progress">
    <% if @cup_usages.present? %>
      <h4 class="dashboard__progress-title">Cup usage</h4>
      <%= link_to '[Enter cup usage data]', new_cup_usage_path, class: 'dashboard__enter-data' if @cafe == current_user %>
      <div id="cup-usage-chart" style="height: 450px;"></div>
    <% else %>
      <div class="dashboard__no-data">
        <% if @cafe == current_user %>
            <p>You have no reusable cup usage data yet.</p>
            <%= link_to 'Enter cup usage data', new_cup_usage_path, class: 'btn btn-info' %>
        <% else %>
            <p>This cafe doesn't have any reusable cup usage yet.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<h3 class="dashboard__address-heading">Find us</h3>
<% unless @cafe.website.blank? %>
  <a class="website_link" href="<%= @cafe.website %>">Cafe Website</a>
<% end %>
<br>
<% unless @cafe.facebook.blank? %>
  <a class="facebook_link" href="<%= @cafe.facebook %>">facebook Account</a>
<% end %>
<br>
<% unless @cafe.instagram.blank? %>
  <a class="instagram_link" href="<%= @cafe.instagram %>">Instagram Account</a>
<% end %>
<br>
<% unless @cafe.twitter.blank? %>
  <a class="twitter_link" href="<%= @cafe.twitter %>">Twitter Handle</a>
<% end %>
<br>
<br>
<% unless @cafe.motivation.blank? %>
  <p class="dashboard__motivation-heading">Why we joined Responsible Cafes:</p>
  <p class="dashboard__motivation"><%= @cafe.motivation %></p>
<% end %>
<div>
  <% if @cafe.sustainbuylocal %>
    <img src="/images/save-local.jpg" alt="support locals" title="<%= @cafe.sustainbuylocalcomments %>">
  <% end %>
  <% if @cafe.sustainbags %>
    <img src="/images/save-bags.jpg" alt="sustainable bag use" title="<%= @cafe.sustainbagscomments %>">
  <% end %>
  <% if @cafe.sustainstraws %>
    <img src="/images/save-straws.jpg" alt="sustainable straw use" title="<%= @cafe.sustainstrawscomments %>">
  <% end %>
  <% if @cafe.sustaincutlery %>
    <img src="/images/save-spoons.jpg" alt="sustainable cutlery use" title="<%= @cafe.sustaincutlerycomments %>">
  <% end %>
  <% if @cafe.sustaingrinds %>
    <img src="/images/save-grinds.jpg" alt="grounds composting" title="<%= @cafe.sustaingrindscomments %>">
  <% end %>
</div>
<div class="dashboard__map">
  <div class="dashboard__map-graphic"></div>
  <div class="dashboard__address">
      <% unless @cafe.address_line_1.blank? %>
        <%= @cafe.address_line_1 %><br>
      <% end %>
      <% unless @cafe.address_line_2.blank? %>
        <%= @cafe.address_line_2 %><br>
      <% end %>
      <% unless @cafe.suburb.blank? %>
        <%= @cafe.suburb %><br>
      <% end %>
      <% unless @cafe.postcode.blank? %>
        <%= @cafe.postcode %><br>
      <% end %>
      <% unless @cafe.state.blank? %>
        <%= @cafe.state %><br>
      <% end %>
      <% unless @cafe.phone.blank? %>
        <p class="dashboard__phone">Phone: <%= @cafe.phone %></p>
      <% end %>
  </div>
</div>


<% if @cup_usages.present? %>
<script type="text/javascript">
  new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'cup-usage-chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    <% @cup_usages.each do |cup_usage| %>
      {
        month: '<%= cup_usage.year %>-<%= cup_usage.month + 1 %>',
        reusable: <%= cup_usage.reusable_cups %>,
        disposable: <%= cup_usage.disposable_cups %>,
        dine_in: <%= cup_usage.dine_in_cups %>,
      },
    <% end %>
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'month',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['reusable', 'dine_in', 'disposable'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Reusable cups', 'Dine in cups', 'Disposable cups'],
  lineColors: ['#3eaa0e', '#F7B20C', '#D41E1E'],
  xLabelFormat: function(x) {
    return moment(x).format("MMM YY");
  }
});

</script>
<% end %>

<script>
function initialize() {
    var geocoder, map;
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': '<%= cafe_address @cafe %>'
    }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var myOptions = {
                zoom: 16,
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementsByClassName('dashboard__map-graphic')[0], myOptions);

            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        }
    });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>